@import "../../variabels.css";

.container{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(16, 16, 50, .5);
  backdrop-filter: blur(10px);
  z-index: 999;
  padding: 1em;
}

.button {
  background-color: var(--main-background-color);
  border: none;
  float: right;
}

.button i {
  color: var(--main-text-color);
  font-size: 44px;
  margin: auto;
}