@import  "../../variabels.css";

.container{
  height: 100vh;
  width: 100vw;
  font-size: 50px;
  line-height: 26px;
  display: flex;
  align-items: center;
}

.inner{
  margin-left: 50px;
}

.container p {
  color: var(--main-text-color-dark);
  font-size: 0.5em;
}

.container h1{
  color: var(--main-text-color);
  font-size: 1.5em; 
}
/* use clamp */