@import  "../../variabels.css";

.header {
  width: 100%;
  height: 50px;
  display: flex;
  background: rgba(16, 16, 50, .1);
  backdrop-filter: blur(10px);
  position: fixed;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 1000;
}

.button {
  background-color: var(--main-background-color);
  border: none;
}

.button i {
  color: var(--main-text-color);
  font-size: 44px;
  margin: auto;

}